.s-header {
  background: $header-background;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  &__content {
    width: 100%;
    max-width: $container-lg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    & > button {
      all: unset;
      cursor: pointer;
    }
  }
}